# 01_Intro

## shortcut

- cntrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 + 아래로 이동(없는 경우 새로 추가
- alt + enter : 현재 셀 실행 + 아래에 새로운 셀 추가

## 주의사항

1. Apple과 apple은 **다르다**
2. git add. / git add . **띄어쓰기**
3. message / massage **오타주의**

## 01. 변수

```
var_name = value
```

- 변수 이름은어떤 이름이든 사용가능
- 다만 영어, 숫자, _를 이용해서 선언
- 키워드는 불가능

In [ ]:
a = 100

In [ ]:
a

In [ ]:
import keyword

keyword.kwlist

### 1.1 number

In [ ]:
a = 10000

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = 1.2

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c = 1 + 1j

In [ ]:
c

In [ ]:
type(c)

### 1.2 boolean

In [ ]:
a = True

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = False

In [ ]:
b

In [ ]:
type(b)

### 1.3 string

- `'`, `"`를 이용하여 표현

In [ ]:
a = 'hello!'

In [ ]:
b = "hi"

In [ ]:
a

In [ ]:
b

In [ ]:
print('hello my name is "jungseok"')

In [ ]:
print('hello my name is \'jungseok\'')

In [ ]:
a = '''
hello
world
hi
'''

In [ ]:
a

In [ ]:
a = 10
b = '홍길동은 살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [ ]:
age = 10

In [ ]:
# %-formatting

print('홍길동은 %s살입니다.' % age)

In [ ]:
# str.format()

print('홍길동은 {}살입니다.'.format(age))

In [ ]:
# f-string

print(f'홍길동은 {age}살입니다')

## 02. 연산자

### 2.1 산술연산자

In [ ]:
a = 5
b = 2

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

In [ ]:
print(a ** b) #2의 5승
print(a // b) #a를 b로 나눈 몫
print(a % b) #a를 b로 나눈 나머지

In [ ]:
result = divmod(a, b) #divmod란? a를 b로 나눈 몫을 하나 만들고 나머지를 만든다

print(result)

### 2.2 비교 연산자

In [ ]:
a = 5
b = 10

In [ ]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

In [ ]:
print(a == b)
print(a != b)

In [ ]:
print('hi' == 'hi')
print('hi' == 'Hi') # 대소문자를 구분

### 2.3 논리 연산자

- and : 양쪽 모두 True일때 True를 반환 
- or : 양쪽 모두 False일떄 False 반환
- not : 현재 상태를 부정

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
a = True
print(not a)

In [ ]:
# 단축평가

## 시작이 True인경우 뒤에 값을 보여준다
print(3 and 5)
print(3 and 0)

## 시작이 False인 경우 False 출력
print(0 and 5)
print(0 and 0)

### 둘중 하나/둘다 False인경우 -> 0
### 둘다 True인 경우 -> and 뒤에 온 숫자 출력

In [1]:
# 앞의 값을 나타 낸다
print(3 or 5)
print(3 or 0)

# 뒤의 값을 나타 낸다
print(0 or 5)
print(0 or 0)
### 둘중 하나/둘다 True인 경우 True 상태인 숫자/앞의 숫자 출력
### 둘다 False인경우 0 출력

3
3
5
0

### 2.4 복합 연산자

In [ ]:
a = 2
b = 3

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.5 기타 연산자

In [1]:
a = 'hi'
b = 'hello'

In [2]:
# 문자열과 문자열의 더하기는 더하기(concatenation)
print(a + b)
#print(a + 1) int + str / str + int 는 불가능하다

hihello

In [3]:
a = [1, 2, 3]
b = [2, 3, 4]

In [4]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [5]:
print(1 in a) # 1이라는 데이터가 a에 있나요?
print(10 in a)

True
False

In [6]:
a = 100
b = 100

# -5 ~ 256까지는 항상 같은 위치에 저장 되기때문에 is 사용시 True, 그 외 숫자는 False로 뜸

In [7]:
print(a == b)
print(a is b)

True
True

### 연산자 우선순위

0. ()를 통해서 그룹
1. **
2. 산술연산자 *, /
3. 산술연산자 +, -
4. 비교 연산자 in, is
5. not
6. and
7. or

In [8]:
print(-3 ** 4) # 3의 4승을 먼저 계산 하고 -가 붙음
print((-3) ** 4) # -3에 ()가 있기 때문에 -3으로 인식하고 -3의 4승으로 인식

-81
81

## 형변환

### 3.1 암시적 형변환

In [9]:
a = True
b = False
c = 1

In [10]:
print(a + b)
print(a + c)

1
2

### 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [11]:
a = 1
b = '반'

In [12]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
print(str(a) + b)

1반

In [14]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [14]:
c = 'apple'
d = int(c) # int 타입으로 바꿀수 있는 것만 바꾸고 외의 것들은 오류 발생

ValueError: invalid literal for int() with base 10: 'apple'

In [15]:
a = 1
b = 0
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

# 음수인 경우에도 True 0만 False임

True
False
True

In [16]:
print(bool([])) # 리스트에 데이터가 없는 경우 False
print(bool([1, 2, 3])) # 리스트에 데이터가 있는 경우 True

False
True

## 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조. (순서대로 나열되었다 != 정렬되었다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List(리스트, 배열)
- 선언 : `var_name = [value_1, value_2, value_3, ...]`
- 접근 : `var_name[index] -> 0부터 시작`

In [6]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [16]:
location = ['서울', '대전', '부산']
print(location)
print(location[1])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
대전
['서울', '대구', '부산']

### 4.2 Tuple(튜플)
- 선언 : `var_name = (value_0, value_1, value_2, ...)`
- 접근 : `var_name[index]`
- **수정불가능(immutable)**

In [19]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [21]:
location[2] = '부산'

# TypeError: 'tuple' object does not support item assignment 발생

TypeError: 'tuple' object does not support item assignment

In [25]:
result = divmod(5,2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

In [30]:
x = 1
y = 2
(x, y) = (y, x)
print(x, y)

2 1

### 4.3 Range
- range(n) : 0 ~ n-1까지 범위
- range(n, m) : n ~ m-1까지 범위
- range(n, m, s) : n~m-1까지 s만큼 증가하는 범위

In [40]:
lotto = range(45)
print(lotto)
print(list(lotto)) # 리스트로 형변환

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [43]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [45]:
even = range(2, 20, 2) 
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [47]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

### 4.4 String
- 기본 데이터 구조 참고

In [48]:
s = 'hi, my name is jung'
print(s[2])

,

### 4.5 시퀀스에서 활용 가능한 연산/함수

In [49]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [50]:
# indexing

print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [55]:
# slicing
# var_name[index1:index2]
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [59]:
# 인덱스 생략

print(my_list[3:])
print(my_list[:3])

['d', 'e']
['a', 'b', 'c']

In [63]:
# 인덱스 음수
print(my_list[1:-1])

['b', 'c', 'd']

In [65]:
# step

print(my_list[::2]) # 2칸씩 indexing

['a', 'c', 'e']

In [71]:
# in 
# 들어있나요?
print(1 in my_list)
print('a' in my_list)

# not in
# 들어있지 않나요?
print('a' not in my_list)

False
True
False

In [74]:
# concatennation

print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3, 4, 5))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3, 4, 5)

In [79]:
# * 곱셈

print(my_list * 2)
print('a' * 5)

# 0이 100개 있는 리스트를 만드려면?

l_100 = [0] * 100
print(l_100)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [82]:
# 길이를 출력해주는 함수
# len()

print(len(my_list))

5

In [85]:
# 최대값을 보여주는 함수
# max()

print(max(my_list)) # 문자의 경우에도 숫자로 변환하여 출력을 해준다(ASCII Code 참고)

e

In [88]:
# 최소값을 보여주는 함수
# min

print(min(my_list))

a

## 5. 시퀀스형이 아닌 자료구조

### 5.1 set
- 집합과 비슷한 개념

- 선언 : var_name = {value_0, value_1, value_2, ...}

In [93]:
my_set_a = {1, 2, 3, 4, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [95]:
print(my_set_a) # 중복이 되어도 한개만 보여줌
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [122]:
print(my_set_a - my_set_b) # my_set_a에서 my_set_b와 겹치는 숫자만 제거되고 my_set_a에 남아있는 데이터들을 보여줌
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [123]:
location = ['서울', '대전', '대구', '인천', '부산', '서울', '대전', '대구', '인천', '부산', '서울', '대전', '대구', '인천', '부산']
print(set(location))

{'대구', '대전', '서울', '부산', '인천'}

### 5.2 dictionary
- 선언 : `var_name = {key1: value1, ket2: value2, ...}` key와 value로 구성되어있다는 것이 set과 다름
- 접근 : `var_name[key]`
  **여러가지 데이터를 같이 저장할때 보통 사용한다**

In [128]:
my_dict = {'서울': '02', '경기도': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기도': '031'}
02

In [132]:
my_info = {
    'name': 'jungseok',
    'location': 'suwon',
    'age': 26,
    'skills': ['Python', 'SQL']
}

In [135]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skills'][1])

jungseok
26
SQL