# 제어문

## 조건문(if문)

1. if문은 반드시 참/거짓을 판단 할 수 있는 **조건식**과 함께 사용한다.
    - `if <조건식> : `
2. `<조건식>` 참인경우 : `:` 이후의 문장을 실행
3. `<조건식>` 거짓인경우 : `else: ` 이후의 문장을 실행


```
If <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [4]:
my_string = input()
print(my_string)


if my_string == '12/25': 
    print('merry christmas!')
else: 
    print('No!')

 12/25

12/25
merry christmas!

In [8]:
num = input('숫자를 입력해 주세요') # input()이라는 함수는 입력값을 기본적으로 str으로 인식을 한다.

if int(num) % 2 == 1: 
    print('odd')
else:
    print('even')

숫자를 입력해 주세요 123

odd

In [11]:
num = int(input('숫자를 입력하세요'))

if num % 2 == 1: 
    print('odd')
else:
    print('even')

숫자를 입력하세요 2

even

In [ ]:
num = int(input('숫자를 입력하세요'))

if num % 2 == 0: 
    print('even')
else:
    print('odd')

In [12]:
num = int(input('숫자를 입력하세요'))

if num % 2: 
    print('odd')
else:
    print('even')

숫자를 입력하세요 2

even

In [14]:
num = int(input('5의 배수를 판단해 드리겠습니다'))

if num % 5 == 0: 
    print('5의 배수입니다')
else:
    print('5의 배수가 아닙니다')

5의 배수를 판단해 드리겠습니다 10

5의 배수입니다

In [16]:
num = int(input('5의 배수를 판단해 드리겠습니다'))

if num % 5: 
    print('5의 배수가 아닙니다')
else:
    print('5의 배수입니다')

5의 배수를 판단해 드리겠습니다 2

5의 배수가 아닙니다

### elif

```
if <조건문>:
    if문이 참인경우
elif <조건식>:
    elif문이 참인경우
else:
    위의 모든 조건이 거짓인경우
```

In [22]:
score = int(input('점수를 입력해 주세요'))

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

점수를 입력해 주세요 96

참 잘했어요!
A

### 조건표현식
- `true_value if <조건식> else false_value`

In [25]:
a = 0

if True:
    a = 100
else:
    a = -100

print(a)

100

In [27]:
a = 100 if True else -100
print(a)

100

In [29]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0

print(result)

 1

1

In [32]:
num = int(input())

result = num if num >= 0 else 0
print(result)

 10

10

In [50]:
num = 9
result = '홀수' if num % 2 else '짝수'
print(result)

홀수

In [53]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

## 반복문

### while

```
while <조건식>:
    실행할 코드
```

In [56]:
a = 0
while a < 5:
    print(a)
    a += 1
    #a = a + 1

0
1
2
3
4

### for문

- 정해진 범위 내의 반복
  
```
for var_name in sequence:
    code
```

In [57]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [58]:
word = 'apple'

for char in word:
    print( char)

a
p
p
l
e

In [60]:
for i in range(5):
    print(i)

0
1
2
3
4

In [67]:
numbers = range(1,51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [73]:
locations = ['서울', '대전', '부산']
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [74]:
info = {
    'name': '홍길동',
    'location': '서울',
    'phone_number': '010-1234-5678',
    'age': '26'
}

In [75]:
for k in info:
    print(k)

name
location
phone_number
age

In [78]:
for k in info.keys():
    print(k)
    print(info[k])

name
홍길동
location
서울
phone_number
010-1234-5678
age
26

In [80]:
for v in info.values():
    print(v)

홍길동
서울
010-1234-5678
26

In [82]:
for key, value in info.items():
    print(key, value)

name 홍길동
location 서울
phone_number 010-1234-5678
age 26

In [83]:
blood_type = {
    'A': 15,
    'B': 8,
    'O': 5,
    'AB': 4
}

In [87]:
for i in blood_type:
    print(F'혈액형에는 {i}형이 있습니다')

혈액형에는 A형이 있습니다
혈액형에는 B형이 있습니다
혈액형에는 O형이 있습니다
혈액형에는 AB형이 있습니다

In [91]:
# 총 학생은 몇명 입니까?
student = 0

for number in blood_type.values():
    student += number
print(student)

32

In [93]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명 입니다.')

A형은 15명 입니다.
B형은 8명 입니다.
O형은 5명 입니다.
AB형은 4명 입니다.

### break
- 반복문을 종료 시키는 키워드

In [98]:
for i in range(100): 
    print('여기는 for 문', i)
    if i > 10:
        print('여기는 break')
        break

여기는 for 문 0
여기는 for 문 1
여기는 for 문 2
여기는 for 문 3
여기는 for 문 4
여기는 for 문 5
여기는 for 문 6
여기는 for 문 7
여기는 for 문 8
여기는 for 문 9
여기는 for 문 10
여기는 for 문 11
여기는 break

In [101]:
while True:
    rice = input()
    if rice == '쌀':
        print('잡았다!')
        break

 쌀

잡았다!

### continue
- continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [104]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [107]:
ages = [10, 11, 12, 13, 14, 15, 16, 20, 21, 22, 23, 24]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
21살은 성인입니다.
22살은 성인입니다.
23살은 성인입니다.
24살은 성인입니다.

### else
- else 문은 끝까지 반복된 경우 실행 됩니다.
**break를 만나지 않은 경우**

In [112]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('모두 완료!') # 반복문이 중간에 멈추지 않고 모두 돌았을 경우 else문 실행

0
1
2
3
4
5