# 자료구조 
> 여러가지 자료구조가 가지고있는 매소드(함수) 알아보기

In [6]:
print(dir('hello'))
### hello가 갖고 있는 기능들을 출력

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 문자열 매소드

In [7]:
a = 'hello my name is cho'

In [8]:
print(a)

hello my name is cho

In [9]:
a[0] = 'H'
## string 자료구조는 Immutable하기 때문에 수정안됨

TypeError: 'str' object does not support item assignment

In [10]:
a.capitalize()
### a가 가지고 있는 함수(.~~~)를 실행시켜 주세요
### capitalize() : 첫 글자만 대문자로 바꿔준다
### data가 수정이 되는것이 아니라 단순 결과 출력값만 바뀌어 나오고 값은 원래 상태로 저장되어있다. 원본의 데이터 변경 X

'Hello my name is cho'

In [11]:
a

'hello my name is cho'

In [12]:
a.title()
### 각 단어의 첫 알파벳을 모두 대문자로 바꿔준다

'Hello My Name Is Cho'

In [13]:
a.lower()
### 모든 글자를 소문자로 만들어준다

'hello my name is cho'

In [14]:
a.upper()
### 모든 글자를 대문자로 만들어준다

'HELLO MY NAME IS CHO'

In [15]:
my_list = ['my', 'name', 'is']

'!'.join(my_list)
### join(): 합치는 함수

'my!name!is'

In [16]:
'?'.join('배고프다')

'배?고?프?다'

In [17]:
a = '         \t       hello                \n'
print(a)

         	       hello

In [18]:
len(a)
### 띄어쓰기 1개도 다 글자로 인식

39

In [19]:
a.strip()
### 띄어쓰기, 줄바꿈, 들여쓰기 모두 무시하고 글자만 보여줌

'hello'

In [20]:
a = '!!!!!Hello????????'
a.strip('!')
###()안에 들어온 문자를 다 지운다 / 빈칸일 경우 띄어쓰기만 지운다 strip(char = ' ')

'Hello????????'

In [21]:
a = '---------hello----------'
a.lstrip('-')
### 글자 기준 왼쪽만 지운다 / rstrip() : 오른쪽만 지운다

'hello----------'

In [22]:
a = 'wooooooooooow'
a.replace('o', '!', 3)
###replace(뭐를(대상), 뭐로(바꿀 값), 앞에서부터 몇번 할 것인가)

'w!!!oooooooow'

In [23]:
a = 'apple'
a.find('a')
a.find('l')
a.find('p') # 똑같은 값이 있다면 먼저 나온 값의 인덱스를 알려준다
a.find('z') # 값이 없을 경우 -1을 출력한다
### find(): 인덱스 번호를 출력해준다

-1

In [24]:
a.index('a')
a.index('l')
a.index('p')
a.index('z')
### index()는 find()와 같은 기능을 하지만 없는 데이터를 찾으려고 하면 error가 난다

ValueError: substring not found

In [25]:
a = 'my name is cho'

a.split()
### split(): 데이터를 띄어쓰기를 기준으로 자른다음 결과를 리스트로 만들어서 반환시켜준다

['my', 'name', 'is', 'cho']

In [26]:
a = 'my!name!is!cho'
a.split('!')
### ()안에 자르고자 하는 기준을 넣어주면 된다

['my', 'name', 'is', 'cho']

In [27]:
a = 'woooooow'
a.count('o')
### count(): 몇개가 있는지 찾아줌/ ()안에는 찾고자 하는 인자를 입력해주면된다

6

### 리스트 메소드

In [1]:
numbers = [2, 3, 4, 5, 6, 7, 6, 4, 3,1]

In [29]:
numbers.append(8)
### 리스트 뒤에 값을 추가 할 때 사용
print(numbers)

[2, 3, 4, 5, 6, 7, 6, 4, 3, 1, 8]

In [30]:
a = [99, 100]

In [31]:
numbers.extend(a) ### +랑 같다고 봐도 무방 / append는 하나만 이어 붙치지만 extend는 여러개를 넣을 수 있음
print(numbers)

[2, 3, 4, 5, 6, 7, 6, 4, 3, 1, 8, 99, 100]

In [32]:
numbers.insert(3, 55) ### 위치를 지정해서 넣어야 한다. insert(넣고자 하는 위치의 Index, 넣고자 하는 값) 지정한 값이 범위를 넘어가면 제일 마지막에 넣어진다
print(numbers)

[2, 3, 4, 55, 5, 6, 7, 6, 4, 3, 1, 8, 99, 100]

In [33]:
numbers.remove(55) ### ()안의 값을 지워주는데 여러개가 존재 할 경우 앞에서부터 한개씩 지운다 / 없으면 에러
print(numbers)

[2, 3, 4, 5, 6, 7, 6, 4, 3, 1, 8, 99, 100]

## Stack과 Queue

**Stack**
- First In Last Out

**Queue**
- First In First Out

In [34]:
### Queue
numbers.pop(0)
print(numbers)

[3, 4, 5, 6, 7, 6, 4, 3, 1, 8, 99, 100]

In [35]:
### Stack
numbers.pop() ### 맨 뒤에있는 데이터를 제거한다
print(numbers)

[3, 4, 5, 6, 7, 6, 4, 3, 1, 8, 99]

In [2]:
### 데이터 정렬(기본: 오름차순)
numbers.sort()
print(numbers)

[1, 2, 3, 3, 4, 4, 5, 6, 6, 7]

In [37]:
### 데이터 정렬(내림차순)
numbers.sort(reverse=True)
print(numbers)

[99, 8, 7, 6, 6, 5, 4, 4, 3, 3, 1]

#### sorted()
- python 자체에 구현되어있는 함수
- sort()와 다르게 원본이 바뀌지 않고 결과 값만 보여준다

In [38]:
a = [1,2,3,4,2,12,4,6,3]

print(sorted(a))
print(a)

[1, 2, 2, 3, 3, 4, 4, 6, 12]
[1, 2, 3, 4, 2, 12, 4, 6, 3]

In [39]:
### 글자도 정렬이 가능하다(영어, 한글 둘다 가능 - 다만 같이 있으면 영어가 먼저)
my_list = ['a', '바', '타', '가', 'a', 'ㅊ']
my_list.sort()
print(my_list)

['a', 'a', 'ㅊ', '가', '바', '타']

In [58]:
numbers = [1,3,5,7,3,1,4,6]
print(numbers)
numbers.reverse() ## 각 값의 크기와 상관 없이 순서를 뒤집는다. + 값도 바뀐것을 저장
print(numbers)

[1, 3, 5, 7, 3, 1, 4, 6]
[6, 4, 1, 3, 7, 5, 3, 1]

In [41]:
### 해당 리스트 안에 ()안의 값이 몇개가 있는가?
my_list.count('a')

2

## list copy

In [42]:
origin_list = [1300, 20000, 300000]
copy_list = origin_list

In [43]:
print(origin_list)
print(copy_list)

[1300, 20000, 300000]
[1300, 20000, 300000]

In [44]:
### '='을 활용하여 같은 리스트을 할당한 뒤 복제한 변수의 리스트 값을 수정하면 원본의 값도 같이 바뀌게 된다 / 그냥 = 을 사용하여 넣는경우 값을 또 할당하는 것이아니라 같은 값을 가리키고 있기 때문
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 20000, 300000]
[100, 20000, 300000]

In [45]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] ## 슬라이싱 진행한 값 자체를 넣어주기 때문에 copy_list를 변경해도 원본은 바뀌지 않는다

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [46]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:]

c_l[0] = 100
c_l[2][0] = -10 # list 안에 List의 경우 슬라이싱을 하더라도 같은 값을 가리키고 있기 때문에 값이 바뀐다

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [47]:
import copy

origin_list = [1, 2, [10, 11]]
copy_list = copy.deepcopy(origin_list) ### deepcopy()를 사용하면 리스트 안의 리스트까지 모두다 복제가 되어 분리가 되기 때문에 수정을 해도 원본은 바뀌지 않는다

copy_list[0] = 100
copy_list[2][1] = -11

print(origin_list)
print(copy_list)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comprehension

In [48]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [50]:
result = [number ** 3 for number in numbers]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
### 짝수만 고르기

numbers = list(range(1, 31))
print(numbers)

result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [52]:
### 짝수만 고르기

numbers = list(range(1, 31))
print(numbers)

result = [number * 2 for number in numbers if number % 2 == 0]

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [53]:
### 연습문제 - 모음(a, e, i, o, u)제거

words = 'my name is jung'

# => my nm s jng'
# 1. for / if
result = ''
Vowel = ['a', 'e', 'i', 'o', 'u']

for word in words:
    print(word)
    if word not in Vowel:
        result += word

print(result)

m
y

n
a
m
e

i
s

j
u
n
g
my nm s jng

In [54]:
# 2. List comprehension
result = [word for word in words if word not in Vowel]

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'j', 'n', 'g']
my nm s jng

In [55]:
# 3. replace 메소드
Vowel = ['a', 'e', 'i', 'o', 'u']

for word in Vowel:
    words = words.replace(word,'') # 원본이 직접적으로 수정이 되지는 않는다

print(words)

my nm s jng

### dictionary 메소드

- 다양한 형태의 데이터가 들어갈 수 있다(딕셔너리 안에 딕셔너리, 리스트 , 등등)

In [4]:
info = {
    'name': 'jungseok',
    'location': 'Suwon',
    'age': '26',
    'phone_book': {
        'kim': '010-1234-5678',
        'park': '010-9012-3456'
    },
    'models': ['iphone', 'ipad']

}

In [9]:
print(info['name'])
print(info['age'])
print(info['phone_book'], ['park'])
print(info['models'][1])

jungseok
26
{'kim': '010-1234-5678', 'park': '010-9012-3456'} ['park']
ipad

In [11]:
info['name'] = 'shinwon'

print(info)

{'name': 'shinwon', 'location': 'Suwon', 'age': '26', 'phone_book': {'kim': '010-1234-5678', 'park': '010-9012-3456'}, 'models': ['iphone', 'ipad']}

In [12]:
### update(): 특정한 Key에 값을 어떤것으로 바꿀것인가 지정

info.update(name='jungseok')

print(info)

{'name': 'jungseok', 'location': 'Suwon', 'age': '26', 'phone_book': {'kim': '010-1234-5678', 'park': '010-9012-3456'}, 'models': ['iphone', 'ipad']}

In [13]:
### pop(키 값): ()안에 지정한 Key값을 제거 할 때 사용

info.pop('location')
print(info)

{'name': 'jungseok', 'age': '26', 'phone_book': {'kim': '010-1234-5678', 'park': '010-9012-3456'}, 'models': ['iphone', 'ipad']}

In [15]:
### get(key): 가져오고자 하는 key값을 가져온다
print(info.get('name'))
print(info)


### 단 get()은 없는 값을 가져오려고 하면 none이 나온다
print(info.get('year'))

jungseok
{'name': 'jungseok', 'age': '26', 'phone_book': {'kim': '010-1234-5678', 'park': '010-9012-3456'}, 'models': ['iphone', 'ipad']}
None

In [16]:
### 아래의 방식은 get처럼 없는 값을 가져오지만 에러가 발생

info['year']

KeyError: 'year'

In [ ]:
## 연습문제
# {'A': 1, 'B': 2, 'AB': 2, 'O': 1}
blood_type = ['A', 'B', 'AB', 'O', 'AB', 'B']

blodd_type_count = {'A': blood_type.count('A'),
                   'B': blood_type.count('B'),
                   'AB': blood_type.count('AB'),
                   'O': blood_type.count('O'),}

print(blodd_type_count)

{'A': 1, 'B': 2, 'AB': 2, 'O': 1}

In [40]:
blood_type = ['A', 'B', 'AB', 'O', 'AB', 'B']

result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for blood in blood_type:
    result[blood] += 1
print(result)

{'A': 1, 'B': 2, 'AB': 2, 'O': 1}

In [ ]:
## 연습문제
locations = ['서울', '대전', '부산', '대전', '대구', '울산', '광주', '울산']
result = {}

for location in locations:
    if location in result.keys():
    #if result.get(location):
        result[location] += 1
    else:
        result[location] = 1


print(result)

{'서울': 1, '대전': 2, '부산': 1, '대구': 1, '울산': 2, '광주': 1}

### dict comprehension

In [44]:
# {1: 1, 2:8, 3: 27, ... 10: 1000}

result = {}
numbers = range(1,11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [45]:
result = {number: number ** 3 for number in range(1,11)}

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [46]:
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0,
}

In [49]:
result = {}

for key, value in dust.items():
    #key, value = ('서울', 50)
    #item = ('서울', 50)
    if value <= 30:
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [50]:
# comprehension버전
result = {key: value for key, value in dust.items() if value <= 30}
print(result)

{'수원': 30, '부산': 0}

### Set 메소드

In [52]:
fruits = {'apple', 'banana', 'melon'}

In [53]:
print(fruits)

{'banana', 'apple', 'melon'}

In [ ]:
### .add(): set에 새로운 값 추가
fruits.add('watermelon')
print(fruits)

{'banana', 'apple', 'watermelon', 'melon'}

In [57]:
# .update(): 여러개의 데이터를 같이 넣음
fruits.update({'orange', 'grape'})
print(fruits)

{'banana', 'apple', 'watermelon', 'grape', 'orange', 'melon'}

In [58]:
### .remove(): set에서 데이터 삭제
fruits.remove('apple')
print(fruits)

{'banana', 'watermelon', 'grape', 'orange', 'melon'}

In [62]:
### .pop(): remove와 똑같이 지워지는 기능을 하나 랜덤으로 지워진다
fruits.pop()
print(fruits)

{'melon'}

## map, filter, zip
**세 함수 모두 lazy연산이다**

### map
- map(function, iterable)
    - iterable => 시퀀스타입

In [68]:
numbers = list(range(1,11))
# => 숫자 10개가 담겨있는 리스트를 일괄적으로 모든 값을 str형태로 수정

# 방법 1.
result = []

for number in numbers:
    result.append(str(number))

print(result)


# 방법 2.
result = map(str, numbers)
print(result) ## map이라는 함수를 실행 한 결과가 시각적으로 바로 보이지 않고 메모리에만 저장이 된다 -> lazy한 연산을 한다(=사용자가 필요롤 할때가 되서야 계산을 진행한다)
print(list(result) ) ### list로 변환을 하면 map 함수가 적용된 계산값이 보여진다

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
<map object at 0x11485b0a0>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [69]:
numbers = list(range(1,6))
# => [1, 8, 27, 64, 125]
result = []
for number in  numbers:
    result.append(number  ** 3)

print(result)

[1, 8, 27, 64, 125]

In [70]:
def cube(x):
    return x ** 3

In [71]:
result = map(cube, numbers)
print(result)
print(list(result))

<map object at 0x11039d180>
[1, 8, 27, 64, 125]

In [74]:
# 예시문제
test_input = '1 2 3 4 5 6 7 8 9'

#1. 띄어쓰기를 기준으로 나눈다
test_input.split()

#2. 각 글자를 숫자로 바꾼다
result = list(map(int, test_input.split()))

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### filter
- filter(function, iterable)
- True인것들만 골라낸다

In [75]:

def is_odd(x):
    return x % 2

In [81]:
numbers = list(range(1,10))

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5, 7, 9]

In [84]:
numbers = list(range(1,10))


result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x11489f340>
[1, 3, 5, 7, 9]

### zip

In [89]:
a = [1,2,3]
b = [100, 200, 300]
c = [4000,5000,600]
result = zip(a,b,c)
print(result)
print(list(result)) # 같은 위치에 있는 Index 데이터들끼리 tuple형태로 묶어준다, / 단 길이가 같아야 하면 더 긴 데이터는 묶일 데이터가 없으므로 떨어진다

<zip object at 0x114cdd5c0>
[(1, 100, 4000), (2, 200, 5000), (3, 300, 600)]